# TMDB API Configuration
NEXT_PUBLIC_TMDB_API_KEY=d2f4d21d02b8ae94d740368ec705895d
NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p

# VidKing Embed Configuration
NEXT_PUBLIC_VIDKING_BASE_URL=https://www.vidking.net/embed
